h1 {
  margin: auto;
  text-align: center;
  padding: 30px;
}

#view-container{
  width: 300px;
  margin: auto;
}
#view-container ul {
  margin: 0;
  padding: 0;
  width: 300px;
  list-style-type: none;
  border: 2px solid black;
}

#view-container li{
  float: left;
  width: 76px;
  height: 76px;
  border: 2px solid black;
  background: gray;
  padding: 10px;
  color: black;
  font-size: 50px;
  text-align: center;
}

#view-container ul:after {
  content: "";
  clear:both;
  display: block;
}

#view-container li:hover{
  background: yellow
}
